body {
  background-color: #3f1414;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40vmax;
  color: tan;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 3vh;
}

.card.outline {
  border: 0.15em dashed tan;
}

.card.shadow {
  box-shadow: 7px 7px 7px 0 rgba(41, 41, 41, 0.95) !important;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 40px;
}

.btn {
  height: 40px;
  width: 100px;
}
